# Composer dependencies
/vendor/
composer.lock

# PHPUnit
/phpunit.xml
.phpunit.result.cache

# IDE & OS specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Build artifacts
/build/